<p style="color: green"><%= notice %></p>

<h1>Items</h1>
<%= turbo_frame_tag Item.new do %>
  <%= link_to "New item", new_item_path %>
<% end %>
<div id="items">
  <% @items.each do |item| %>
    <%= render item%>
  <% end %>
</div>

